$primary: #136ef6;
$dark: #1d1d1b;
$light: #f7f8fa;
$link-color: #136ef6;

$btn-transition: none;

$list-group-color: #adb5bd;
$list-group-bg: transparent;
$list-group-border-width: 0;
$list-group-border-radius: 0;

$list-group-hover-bg: transparent;

$list-group-disabled-color: #495057;
$list-group-disabled-bg: transparent;

$list-group-action-color: #fff;
$list-group-action-hover-color: #fff;

$list-group-action-active-color: #fff;
$list-group-action-active-bg: transparent;

:root {
  --toastify-color-dark: var(--bs-dark);
  --toastify-color-info: var(--bs-info);
  --toastify-color-success: var(--bs-success);
  --toastify-color-warning: var(--bs-warning);
  --toastify-color-error: var(--bs-danger);

  --toastify-text-color-light: var(--bs-gray);
}
