@import 'custom';
@import '~bootstrap/scss/bootstrap';

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}

.auth {
  max-width: 420px;
  overflow: auto;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__aside {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      height: 100%;
      width: 270px;
      min-width: 270px;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 72px;
    }

    &-body {
      height: 100%;
      overflow: auto;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-header {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      min-height: 72px;
    }

    &-body {
      height: 100%;

      @media (min-width: 768px) {
        overflow: auto;
      }
    }

    &-footer {
      position: sticky;
      bottom: 0;
    }
  }

  &__form {
    display: flex;
  }
}
